<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chernowii.theatertime">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name=".TheaterWear"
            android:label="@string/app_name"></activity>

        <service android:name=".ListenerForPhone">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".TheaterModeOn"
            android:label="@string/title_activity_theater_mode_on"></activity>
        <activity
            android:name=".TheaterModeOff"
            android:label="@string/title_activity_theater_mode_off"></activity>
    </application>

</manifest>
